/**** About ********/

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.about-page-text {
  margin-top: 150vh;
  animation: fadeIn 2s;
  color: rgb(192, 192, 192);
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 1.5;
  z-index: 2 !important;
}

.fade-in-text {
  margin: auto;
  margin-top: 10vh;
  animation: fadeIn 2s;
  opacity: 0;
  background-color: rgb(96, 158, 81, 0.8);
  text-align: center;
  color: rgb(43, 43, 43);
  margin-bottom: 10px;
  font-size: 50px;
  z-index: 2 !important;
}

.page-text-green {
  margin-top: 0vh;
  animation: fadeIn 2s;
  background-color: rgb(96, 158, 81, 0.8);
  color: rgb(221, 221, 221);
  opacity: 0;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 1.5;
  padding: 2%;
  z-index: 2 !important;
}

/*Photo by <a href="https://unsplash.com/@bazylu?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Tomasz Bazylinski</a> on <a href="https://unsplash.com/photos/V3p5NSMh_lo?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>*/
/*Photo by <a href="https://unsplash.com/@karthik_sreenivas?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Karthik Sreenivas</a> on <a href="https://unsplash.com/photos/0XBjfPcPEKs?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  */
.about-page {
  background-color:black;
  background-image: url(../../assets/img/globe_above.jpg);
  background-position: center;
  background-size: 100%;
  background-position-y: 225px;
  background-repeat: no-repeat;
  transition: background 0.5s linear;
  position: relative;
  display: flex;
  align-items: top;
  justify-content: center;
  width: 100vw;
  height: calc(100vh - 150px);
  overflow: auto !important;
}

.about-page .about-page-text {
  max-width: 80%;
  width: 100%;
  mix-blend-mode: difference;
  margin-left: auto;
  margin-right: auto;
}

.about-title {
  font-size: 100px;
  mix-blend-mode: difference;
  color: rgb(255, 255, 255);
  margin-top: 40px;
  text-align: center;
  line-height: 1.2;
  padding-bottom: 25px;
  z-index: 2 !important;
  opacity: 1;
}

.about-home-hr {
  height: 8px;
  mix-blend-mode: difference;
  border-top: 2px solid rgba(82, 82, 82, 0.95) !important;
  opacity: 1;
  width: 90%;
  margin: 0 auto;
  z-index: 2 !important;
}

.about-page-subtitle {
  color: rgb(226, 226, 226) !important;
  opacity: 1;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 2 !important;
}

.globe_above {
  display: block;
  object-fit: cover;
  width: 100vh;
}

/* Four grid cells for design philosophy */
.about-grid {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(4, 1fr);
}

/* Title texts for the grid */
.about-grid-title {
  background-color: rgb(66, 71, 42);
  font-size: 15px;
  width: 97%;
  color:rgb(211, 201, 186);
  font-weight: 700;
  text-align: center;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 0px;
  z-index: 2 !important;
}

/* Body text in the grid */
.about-grid-text {
  background-color: rgb(66, 71, 42);
  color: rgb(209, 196, 181);
  font-weight: 500;
  margin-bottom: 40px;
  margin-top: 0px;
  font-size: 13px;
  line-height: 1.5;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 2 !important;
}

.about-section-break-hr {
  height: 2px;
  width: 40%;
  margin: 0 auto;
  margin-top: 125vh;
  border-top: 2px solid rgb(0, 0, 0) !important;
  z-index: 2 !important;
}

.about-lower-section-break-hr {
  height: 2px;
  width: 35%;
  margin: 0 auto;
  margin-bottom: 50px;
  border-top: 2px solid black !important;
  z-index: 2 !important;
}