/******* Dashboard ********/

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.dashboard {
  position: relative;
  padding-right: 20px !important;
  padding-left: 160px !important;
  padding-top: 50px !important;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: calc(100vh - 150px);
  overflow: auto !important;
  font-family: Arial, sans-serif;
  font-weight: 500;
}

.dashboardClosed {
  position: relative;
  padding-right: 20px !important;
  padding-left: 80px !important;
  padding-top: 50px !important;
  display: flex;
  justify-content: center;
  width: max(360px, 100vw);
  height: calc(100vh - 150px);
  overflow: auto !important;
  font-family: Arial, sans-serif;
  font-weight: 500;
}

.dashboard .dropdown-menu {
  --bs-dropdown-bg: #2a2828;
  --bs-dropdown-link-color: rgb(248, 248, 248);
  --bs-dropdown-link-active-bg: rgb(158, 130, 36);
  --bs-dropdown-link-hover-bg: rgb(145, 119, 36, 0.7);
  --bs-dropdown-link-hover-color: rgb(248, 248, 248);
  --bs-dropdown-header-color: #999999;
  --bs-dropdown-color: rgb(248, 248, 248);
}

.dashboard .form-check-input:checked {
  background-color: rgb(205, 165, 32);
  border-color: rgb(219, 173, 22);
}

@media screen and (max-width: 700px) {
  .dashboard {
    padding-right: 20px !important;
    padding-left: 80px !important;
  }
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden !important;
}

.chart-container-experiment {
  min-width: 100% !important;
}

.globe-container-experiment {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 500px;
  overflow: hidden !important;
}

.date-select-row {
  height: 30px;
  background: rgb(0, 0, 0, 1);
  margin-bottom: 50px;
  margin-left: 5%;
  border: 1px solid rgb(21, 21, 21);
  border-radius: 5px;
  color: rgb(187, 155, 49) !important;
  line-height: 28px !important;
  justify-content: left;
  z-index: 3;
}

/****** New Dashboard *****/
@media screen and (min-width: 940px) {
  .date-select-row {
    width: 420px;
  }
}

@media screen and (max-width: 939px) and (min-width: 610px) {

  /*Switch when width is 940px*/
  .date-select-row {
    width: 420px;
    padding: 0%;
    text-indent: 15px !important;
    align-items: flex-end;
  }
}

@media screen and (max-width: 700px) {
  .date-select-row {
    margin: auto !important;
  }
}

@media screen and (max-width: 609px) and (min-width: 501px) {

  /*Switch when width is 610px*/
  .date-select-row {
    text-indent: 0px !important;
    padding-right: 0px;
  }

  .row>* {
    padding-right: 0px;
  }
}

@media screen and (max-width: 500px) {
  .date-select-row {
    width: 294px;
    text-indent: 0px !important;
    padding-right: 0px;
  }

  .row>* {
    padding-right: 0px;
  }
}

.btn-outline-light {
  --bs-btn-color: rgb(218, 218, 218);
  --bs-btn-hover-color: rgb(218, 218, 218);
  --bs-btn-border-color: transparent;
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-color: transparent;
  --bs-btn-active-bg: transparent;
  --bs-btn-active-border-color: transparent;
  --bs-btn-active-shadow: transparent;
}

.btn-outline-warning {
  --bs-btn-color: rgb(187, 155, 49);
  --bs-btn-border-color: transparent;
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-bg: transparent;
  --bs-btn-active-border-color: transparent;
}

.btn {
  --bs-btn-padding-x: 0.25rem;
}

.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
  z-index: 0;
}

.dashboard-scenerio-selector {
  position: static
}

.dashboard-scenerio-button .dropdown-toggle::after {
  color: rgb(187, 155, 49);
}

.dashboard-scenerio-button {
  margin: 0;
  position: relative;
  top: 35%;
}

.dashboard-floater-button .btn {
  font-weight: 700;
  --bs-btn-color: white;
}

.dashboard-floater-button {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  font-weight: 900;
}

.dashboard-guage-grid {
  display: grid;
  color: rgb(218, 218, 218);
  grid-template-columns: auto repeat(6, 1fr);
  column-gap: 4px;
  margin-top: 2%;
  margin-bottom: 2%;
  justify-items: center;
}

.dashboard-guage-grid-columns {
  /* 960px */
  display: grid;
}

.guage-row-open {
  display: grid;
  padding-top: 25px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  background-color: rgb(127, 127, 127);
  border-radius: 15px;
}

.guage-row-closed {
  display: grid;
  padding-top: 25px;
  grid-template-rows: repeat(3, auto);
  cursor: pointer;
}

.guage-button {
  cursor: pointer;
}
.chart-container {
  z-index: 10;
}

.guageText {
  white-space: nowrap;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 1.00vw;
  margin-bottom: 10%;
}

.guageDefault {
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .dashboard-guage-grid {
    margin-left: 0%;
    margin-right: 0%;
  }

  .dashboard-guage-grid {
    display: grid;
    color: rgb(218, 218, 218);
    grid-template-columns: 1fr;
    row-gap: 4px;
    margin-left: 2%;
    margin-right: 2%;
    align-items: center;
  }

  .dashboard-guage-grid-columns {
    /* 960px */
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  .dashboard-scenerio-selector {
    position: static;
    padding-right: 25%;
    padding-left: 25%;
  }

  @media screen and (max-width: 700px) {
    .dashboard-scenerio-button {
      justify-self: center;
    }
  }

  .guage-row-open {
    display: grid;
    padding-top: 25px;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, auto);
    background-color: rgb(127, 127, 127);
    border-radius: 15px;
  }

  .guage-row-closed {
    display: grid;
    padding-top: 25px;
    grid-template-columns: repeat(2, auto);
    cursor: pointer;
  }

  .chart-container {
    z-index: 10;
  }

  .guageText {
    white-space: nowrap;
    text-align: center;
    text-overflow: ellipsis;
    margin-bottom: 10%;
    font-size: 3.25vw;
  }

  @media screen and (max-width: 400px) {
    .guageText {
      font-size: 12px;
    }
  }

  .guageDefault {
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
  }
}

.selection-divider {
  position: relative;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0;
  border-radius: 9px;
  background-color: black;
  align-items: center;
  color: rgb(254, 254, 254);
  font-size: 100%;
  font-weight: 600;
  white-space: pre-wrap;
}

.selection-divider>div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

@media screen and (max-width: 450px) {
  .selection-divider {
    left: calc((100% - 360px)/4);
    width: 330px;
  }
}

@media screen and (max-width: 740px) and (min-width: 660px) {
  .selection-divider {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 660px) {
  .selection-divider {
    margin-bottom: 10px;
  }
}

.floater-icon {
  transform: translate(0, -1px);
}

.floater-filter {
  transform: translate(0, -50%);
}
.reset-button {
  width: 60px;
  padding-right: 5px;
}

.graph-grid {
  min-width: 0;
  position: relative;
  display: grid;
  width: 100%;
  font-size: max(18px, 1vh);
  font-weight: 600;
  color: rgb(187, 155, 49);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 5vw max(400px, min(50vw, 40vh));
  column-gap: 4px;
  margin: 0;
  margin-top: 1%;
  margin-bottom: 2%;
  justify-items: center;
}

.graph-grid-small {
  display: block;
  box-sizing: border-box;
  min-width: 0;
  position: relative;
  width: 100%;
  height: max(400px, min(150vw, 60vh));
  font-size: max(var(--bs-body-font-size), 2vw);
  font-weight: 600;
  color: rgb(187, 155, 49);
  margin: auto;
  text-align: center;
  justify-items: center;
  padding-left: 0px;
}

.double-bar-text-wrapper {
  font-size: 12px;
  text-indent: 18%;
  text-align: center;
  color: rgb(218, 218, 218);
}

.line_container {
  min-width: 0;
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
}

.bar-grid {
  min-width: 0;
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

.text-centered {
  text-align: center;
  align-items: center;
}

.nivo-wrapper {
  min-width: 0;
  width: 100%;
  height: 100%;
}

.bar-wrapper {
  min-width: 0;
  width: 100%;
  height: max(390px, min(48vw, 38vh));
}

.grid-border {
  border-style: solid;
  border-radius: 30%;
  border-color: rgb(218, 218, 218);
  border-radius: 7px;
  overflow: hidden;
}

.grid-border-hidden {
  border-style: solid;
  border-radius: 30%;
  border-color: rgba(218, 218, 218, 0);
  border-radius: 7px;
  overflow: hidden;
}

.map-wrapper {
  position: relative;
  height: max(400px, min(50vw, 40vh));
}

@media screen and (max-width: 1000px) {
  .map-wrapper {
    height: max(400px, min(150vw, 60vh));
  }

  .bar-wrapper {
    height:max(390px,  min(148vw, 48vh));
  }
}

#map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.image-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.slider {
  width: 100%;
  height: 100%;
}

.slider-container {
  width: 100%;
  height: 100%;
}

.chart,
.chart-bar,
.chart-areabump,
.chart-chord,
.chart-choropleth,
.chart-treemap,
.chart-pie,
.chart-funnel {
  padding: 20px;
  height: 25vh;
}

.chart-sector {
  padding: 20px;
}

/* Leaflet maps */
.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.floater-button {
  margin: 0px 24px;
}

.choropleth-control {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 100;
}

.choropleth-legend-container {
  position: absolute;
  padding-right: 8px;
  left: 0px;
  bottom: 0px;
  border-radius: 4px;
  background: #dce4e8;
  z-index: 99;
}

.choropleth-legend-grid {
  display: grid;
  width: 110%;
  grid-template-columns: 1fr 3fr;
}

.choropleth-legend-color {
  width: 50%;
  aspect-ratio: 1 / 1;
  justify-self: center;
  align-self: center;
  border-radius: 7%;
}

.choropleth-legend-arrow {
  cursor: pointer;
  justify-self: center;
  align-self: center;
  width: 90%;
  height: 80%;
  margin-bottom: 5%;
}

.choropleth-legend-arrow-closed {
  cursor: pointer;
  justify-self: center;
  align-self: center;
  width: 65%;
  height: 80%;
}

.choropleth-legend-text {
  font-size: 57%;
  text-align: left;
  padding-left: 2%;
  width: 100%;
}

.choropleth-legend-text-closed {
  font-size: 60%;
  text-align: left;
  padding-left: 5%;
  cursor: pointer;
}

.choropleth-legend-closed {
  display: none;
}

.choropleth-data-info {
  position: absolute;
  border-radius: 5px;
  background: #dce4e8;
  right: 0px;
  z-index: 100;
  font-size: 65%;
  padding-left: 5px;
  padding-right: 5px;
}

.dropdown-menu {
  height: 200px;
  overflow-y: scroll;
}

.line-graph-no-data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.dashboard-guage-hr {
  height: 2px;
  width: 85%;
  margin: 0 auto;
  border-top: 2px solid rgb(255, 255, 255) !important;
  z-index: 2 !important;
}

.guage-selection-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden !important;
}