@charset "UTF-8";
.react-datepicker__month-year-read-view--down-arrow, .react-datepicker__navigation-icon::before {
  border-color: rgb(158, 130, 36);
}

.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle::before, .react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::before {
  border-bottom-color: rgb(70, 70, 70);
}

.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::before, .react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::after {
  border-top: none;
  border-bottom-color: rgb(70, 70, 70);
}

.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::before {
  top: -1px;
  border-bottom-color: rgb(70, 70, 70);
}

.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle::before {
  bottom: -1px;
  border-top-color: rgb(70, 70, 70);
}

.react-datepicker-wrapper {
  display: inline-block;
  padding: 0;
  border: 0;
}

.react-datepicker {
  font-family: Geneva, sans-serif;
  background-color: rgb(100, 100, 100);
  color: rgb(248, 248, 248);
  border: 1px solid rgb(70, 70, 70);
  right: 30%;
  text-indent: 0px;
}

.react-datepicker-popper {
  z-index: 1;
}
.react-datepicker-popper[data-placement^=bottom] {
  padding-top: 10px;
}
.react-datepicker-popper[data-placement=bottom-end] .react-datepicker__triangle, .react-datepicker-popper[data-placement=top-end] .react-datepicker__triangle {
  left: auto;
  right: 50px;
}
.react-datepicker-popper[data-placement^=top] {
  padding-bottom: 10px;
}
.react-datepicker-popper[data-placement^=right] {
  padding-left: 8px;
}
.react-datepicker-popper[data-placement^=right] .react-datepicker__triangle {
  left: auto;
  right: 42px;
}
.react-datepicker-popper[data-placement^=left] {
  padding-right: 8px;
}
.react-datepicker-popper[data-placement^=left] .react-datepicker__triangle {
  left: 42px;
  right: auto;
}

.react-datepicker__header {
  text-align: center;
  background-color: #4e4e4e;
  border-bottom: 1px solid #363636;
  border-top-left-radius: 0.3rem;
  padding: 8px 0;
  position: relative;
}
.react-datepicker__header--time {
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
}
.react-datepicker__header--time:not(.react-datepicker__header--time--only) {
  border-top-left-radius: 0;
}
.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
  border-top-right-radius: 0.3rem;
}

.react-datepicker__year-dropdown-container--select,
.react-datepicker__month-dropdown-container--select,
.react-datepicker__month-year-dropdown-container--select,
.react-datepicker__year-dropdown-container--scroll,
.react-datepicker__month-dropdown-container--scroll,
.react-datepicker__month-year-dropdown-container--scroll {
  display: inline-block;
  margin: 0 15px;
}

.react-datepicker__navigation {
  top: 10px;
}

.react-datepicker__navigation:hover *::before {
  border-color: rgb(145, 119, 36, 0.7);
}

.react-datepicker__year {
  margin: 0.1rem;
}
.react-datepicker__year-wrapper {
    background-color: rgb(51, 51, 51);
}
.react-datepicker__year .react-datepicker__year-text { /* !! */
  width: 5.3rem !important;
  text-align: center !important;
}

.react-datepicker__year-text:hover {
  border-radius: 0.3rem;
  background-color: rgb(145, 119, 36, 0.7);
}

.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  background-color: rgb(158, 130, 36) !important;
  color: rgb(248, 248, 248) !important;
}
.react-datepicker__year-text--selected:hover,
.react-datepicker__year-text--in-selecting-range:hover,
.react-datepicker__year-text--in-range:hover {
  background-color: rgb(158, 130, 36) !important;
}

.react-datepicker__year-text--keyboard-selected {
  border-radius: 0.3rem;
  background-color: rgb(214, 190, 112, 0) !important;
  color: rgb(248, 248, 248) !important;
}

.react-datepicker__year-text--keyboard-selected:hover {
  background-color: rgb(145, 119, 36, 0.7) !important;
}

.react-datepicker__year-text--in-selecting-range:not(.react-datepicker__year-text--in-range) {
  background-color: rgba(150, 133, 76, 0.5);
}

.react-datepicker__day--disabled,
.react-datepicker__month-text--disabled,
.react-datepicker__quarter-text--disabled,
.react-datepicker__year-text--disabled {
  cursor: default;
  color: #ccc;
}

.react-datepicker__input-container .react-datepicker__calendar-icon {
  position: absolute;
  padding: 0.5rem;
}

.react-datepicker__view-calendar-icon input {
  padding: 6px 10px 5px 25px;
}

.react-datepicker__year-option:hover {
  background-color: rgb(187, 155, 49) !important;
}
.react-datepicker__year-option:hover .react-datepicker__navigation--years-upcoming {
  border-bottom-color: rgb(158, 130, 36);
}
.react-datepicker__year-option:hover .react-datepicker__navigation--years-previous,
.react-datepicker__month-option:hover .react-datepicker__navigation--years-previous,
.react-datepicker__month-year-option:hover .react-datepicker__navigation--years-previous {
  border-top-color: rgb(158, 130, 36);
}
.react-datepicker__year-option--selected,
.react-datepicker__month-option--selected,
.react-datepicker__month-year-option--selected {
  position: absolute;
  left: 15px;
}

.react-datepicker__calendar-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
}

.react-datepicker__children-container {
    width: 5.8rem;
    margin: 0.4rem;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
    height: auto;
  }
  
  .picker-input__text {
    width: 200px;
  }