body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/******* Default ********/

body,
html {
  overflow: hidden !important;
  margin: 0 !important;
  padding: 0 !important;
}

a {
  text-decoration: none; /* Remove underline */
  color: steelblue; /* Inherit the color from the parent */
  font-weight: bold;
}

/******* Site Wide ********/

.page-title {
  font-size: 40px;
  color: rgb(0,0,0,1);
  margin-top: 80px;
  text-align: center;
  line-height: 1.2;
  padding-bottom: 25px;
  z-index: 2 !important;
}

.page-subtitle {
  font-size: 20px;
  font-weight: 500;
  color: rgb(100, 100, 100) !important;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 2 !important;
}

.page-text {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
  z-index: 2 !important;
}

.page-image-container {
  text-align: center;
}

.body-page{
  padding-top: 100px !important;
  padding-bottom: 50px !important;
  width: 100vw;
  height: 100vh;
  background-color: rgb(253, 248, 229, 0.7);
  overflow: auto !important;
}

.home-hr {
  height: 2px; /* change the thickness */
  width: 90%; /* change the width */
  margin: 0 auto; /* center the horizontal rule */
  border-top: 2px solid black !important;
  z-index: 2 !important;
}

.lower-hr {
  margin-bottom: 50px;
  z-index: 2 !important;
}

/******* Navigation ********/

.logo {
  height:30vw;
  max-height:80px;
  margin: 0 0 0 20px;
}

.bartop {
  position: fixed;
  min-height: 100px;
  z-index: 1000000 !important;
  top: 0;
  width: 100%;
  padding-right: 50px;
  padding-left: 50px;
  background-color: rgb(0,0,0,1) !important;
}

.navbar-nav .nav-link {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 17px;
}

.nav-icon{
  font-size: 20px;
  transform: translate(0px, -2px);
}

.nav-link:hover {
  color: rgb(255, 247, 186);
}

.nav-link:not(:hover) {
  color: grey;
}

.navbar-nav .nav-icon {
  margin-right: 10px;
}

@media (max-width: 950px) {
.navbar-nav {
  padding-left: 50px;
  line-height: 0.8;
}

.nav-left {
  padding-top: 20px;
}

.nav-right {
  padding-bottom: 20px;
}

.navbar-nav .nav-link {
  padding: 10px;
}
}

/******* Home ********/

.home {
  position: relative;
  height: 100vh;
  width: 100vw;
  /**background-image: url(//unpkg.com/three-globe/example/img/night-sky.png);**/
  background-color: black !important;
}

.home-globe {
  position: absolute;
  right: 0;
  left: 0;
  transform: translate(-10%, 0%);
}

.home-title {
  position: absolute;
  top: 25%;
  opacity: 1;
  left: 100px;
  font-size: calc(8vw + 5vh);
  display: flex;
  align-items: top;
  color: rgb(201, 201, 201);
  padding-bottom: 2%;
}

.home-subtitle {
  position: absolute;
  font-size: calc((10vw + 5vh) * 0.3);
  color: rgb(201, 201, 201);
  top: 100%;
  padding-left: 2%;
}

@media (max-width: 900px) {

  .home-title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: calc(8vw + 5vh);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(201, 201, 201);
    padding-bottom: 2%;
    text-align: center;
    width: 100%;
  }

  .home-subtitle {
    position: absolute;
    font-size: calc((10vw + 5vh) * 0.3);
    color: rgb(201, 201, 201);
    top: 100%;
    transform: translateX(-50%);
    left: 50%;
    padding-left: 0%;
    text-align: center;
    width: 100%;
  }

  .home-globe {
    position: absolute;
    margin: 0 !important;
    padding: 0 !important;
    transform: translate(-4%, -3%);
  }

}

/******* Dashboard ********/

.dashboard {
  position: relative;
  padding-right: 20px !important;
  padding-left: 250px !important;
  padding-top: 50px !important;
  display: flex;
  align-items: top;
  justify-content: center;
  width: 100vw;
  height: calc(100vh - 150px);
  overflow: auto !important;
}

.dashboardClosed {
  position: relative;
  padding-right: 20px !important;
  padding-left: 150px !important;
  padding-top: 50px !important;
  display: flex;
  align-items: top;
  justify-content: center;
  width: 100vw;
  height: calc(100vh - 150px);
  overflow: auto !important;
}

.chart, .chart-bar, .chart-areabump, .chart-chord, .chart-choropleth, .chart-treemap, .chart-pie, .chart-funnel {
  padding:20px;
  height: 25vh;
}

.chart-sector{
  padding:20px;
}

/******* Explore ********/

.explore {
  position: relative;
  display: flex;
  align-items: center; /* Updated: Vertically center the content */
  justify-content: center;
  overflow: auto !important;
  background-color: rgb(0, 0, 0);
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  overflow: hidden !important;
}

.image-citation {
  position: absolute;
  bottom: 80px;
  right: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px 20px;
  font-size: 16px;
}

/******* World ********/

.world-page {
  position: relative;
  overflow: hidden !important;
  padding-top: 50px !important;
}


/******* Sidebar ********/

.sidenav {
  position: absolute;
  left: 0 !important;
  z-index: 999 !important;
  width: 160px;
  transition: width 0.3s ease-in-out;
  height: 200vh !important;
  background-color: rgb(10,25,41);
  overflow: hidden !important;
}
.sidenavClosed {
  position: absolute;
  left: 0 !important;
  z-index: 999 !important;
  width: 60px;
  transition: none;
  height: 200vh !important;
  background-color: rgb(10,25,41);
  overflow: hidden !important;
}

.sideitem {
  display: flex;
  align-items: center;
  padding: 10px 0;
  cursor: pointer;
  text-decoration: none;
  overflow: hidden;
  margin-bottom: 10px;
}

.sideitem svg {
  margin-left: 15px;
  margin-right: 10px;
  font-size: 30px;
}

.linkText {
  padding-left: 5px;
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  flex-grow: 1; /* Allow the text to grow and occupy available space */
  font-weight: normal !important;
}

.sidenavClosed .linkText {
  display: none;
}

.sideitem:hover {
  color: rgb(255, 247, 186);
}

.sideitem:not(:hover) {
  color: grey
}

.sideitem.active {
  color: #fff;
}

.menuBtn {
  align-self: center;
  align-self: flex-start;  
  justify-self: flex-end;
  color: #B2BAC2;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-left: 15px;
  padding-bottom: 10px;
  padding-top: 20px;
  font-size: 30px;
}

 /**** About ********/


 /**** Teams ********/

 .teams-page {
  padding-top: 80px !important;
  padding-bottom: 50px !important;
}

.team-member {
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-member img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.team-member h3 {
  margin-top: 1rem;
}

.team-member p {
  margin-bottom: 0;
}


/**** Help Page ****/

.icon-label {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.link-text {
  margin-left: 8px;
}